*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.first_div_child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first_div_child>h1{
    padding: 50px;
    font-size: 4em;
}
.first_div_child>button{
    margin-right: 150px;
    padding: 10px 50px;
    font-size: 1em;
    animation: button 2s infinite alternate;
}
@keyframes button{
    from{translate: 0px 0px;}
    to{translate: 0px 10px;}
}
.first_div_child *{
    color: black;
}
.container_header{
    display: flex;
    gap: 130px;
    padding: 15px 0px 15px 30px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    backdrop-filter: blur(10px);

}
.modified_h2{
    padding-left: 10px;
}
.sexe_h2{
    padding-left: -50px;
}
.age_h2{
    margin-left: 60px;
    position: relative;
    left: -70px;
}
.Element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    padding: 20px 20px;
    border-top: solid 1px rgba(0, 0, 0, 0.158);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    margin: 10px 0px;
}
.Element>div{
    width: 80px;
    text-align:justify;
}


